.button {
    -fx-background-color: linear-gradient(#06495e,deepskyblue),
    radial-gradient(center 50% -40%, radius 200%, mediumpurple 45%, blueviolet 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4) ,5, 0.0, 0, 1);
}